html, body {
  height: 100%; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  display: flex;
 
}



meni {
  margin: 10px;
}



table {
  border-spacing: 0 10px;
}

.info-element {
  text-align:right;
  padding-right:15px;
  
  
}

.rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button {
  background: white;
  
}

.fakultete {
  height: 31px;
  padding:4px 7px 10px 7px;
  
}

.fakultete img {
  vertical-align: middle;
  margin-right:5px;
  margin-top:-2px;
}

.restavracije {
  background: url(../slike/restaurant_logo_mini.png) no-repeat scroll;
  background-position: 4px 2px;
  height: 31px;
  padding: 7px;
  padding-left: 35px;
  vertical-align: top
}

telo {
  flex: 1;
  float: right;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
}